<div class="starter-template">
  <h1>Cats and Toys!</h1>
  <p class="lead">Do you <strong><em>need</em></strong> to see which toys belong to which cats? Click below!</p>
</div>

<%= link_to "See all Cats", cats_path %>
